    <nav class="navbar">
        <a href="/add-user" class="<%= path === '/add-user' ? 'nav-link active' : 'nav-link'%>">Add User</a>
        <a href="/" class="<%= path === '/' ? 'nav-link active' : 'nav-link'%>">Show User</a>
      </nav>
